header::after, .personal-info::after, .small-footer-nav::after {
  content: "";
  display: table;
  clear: both; }

.headshot {
  display: block;
  margin: 0 auto; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media (min-width: 1024px) {
  body {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #fafafa; } }

body {
  font-family: 'Asap', 'Helvetica', sans-serif; }

a {
  color: black;
  text-decoration: none; }
  @media (min-width: 1024px) {
    a:hover {
      color: #36acd0; } }
  @media (min-width: 1024px) {
    a:visited {
      color: black; } }

.skills-list li {
  font-size: 1.5em;
  color: white;
  font-weight: 700; }

header {
  background-color: #fafafa;
  width: 100%;
  margin: 0; }
  @media (min-width: 730px) {
    header {
      padding-bottom: 40px;
      margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    header {
      padding-bottom: 0; } }

@media (min-width: 1024px) {
  .top-info {
    width: 92%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline; } }

.header-name {
  text-align: center;
  margin-top: 0;
  padding: 30px 0;
  font-size: 2em;
  font-weight: 800; }
  @media (min-width: 730px) {
    .header-name {
      padding-bottom: 5px; } }
  @media (min-width: 1024px) {
    .header-name {
      padding-top: 0;
      margin-right: auto; } }

.navigation {
  border: 5px solid red;
  margin-bottom: 28px; }

@media (min-width: 730px) {
  .header-navigation {
    text-align: center;
    padding-bottom: 15px; } }
@media (min-width: 1024px) {
  .header-navigation {
    padding-bottom: 0; } }
.header-navigation li {
  font-size: 1em;
  background-color: white;
  padding: 15px 0;
  list-style: none;
  text-align: center;
  width: 90%;
  margin: 16px auto;
  text-transform: uppercase;
  font-weight: 700; }
  @media (min-width: 730px) {
    .header-navigation li {
      width: 15%;
      display: inline-block;
      background-color: #fafafa; } }
  @media (min-width: 1024px) {
    .header-navigation li {
      padding: 0;
      margin: 0;
      width: auto; } }
@media (min-width: 1024px) {
  .header-navigation li:nth-child(n+2) {
    margin-left: 20px; } }
@media (min-width: 730px) {
  .header-navigation li:nth-child(1) {
    display: none; } }

.headshot {
  width: 50%;
  padding: 10px 0; }

.about-me {
  width: 90%;
  margin: 30px auto 0 auto;
  padding-bottom: 42px;
  font-size: 1.15em;
  text-align: center; }
  @media (min-width: 730px) {
    .about-me {
      margin-top: 0;
      width: 60%;
      float: left;
      padding-bottom: 0;
      text-align: left;
      font-size: 1.25em; } }
  @media (min-width: 1024px) {
    .about-me {
      font-size: 1.5em; } }

@media (min-width: 730px) {
  .personal-info {
    width: 92%;
    margin: 0 auto; } }

.open div {
  margin: 0 auto;
  height: 0;
  width: 0;
  content: '';
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid black; }

.closed div {
  margin: 0 auto;
  height: 0;
  width: 0;
  content: '';
  border-top: 12px solid black;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent; }

#skills {
  background-color: #ededed;
  padding-bottom: 50px; }

.skills-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 20px auto 0 auto;
  justify-content: space-between; }

.section-header {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase; }

#portfolio {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px; }
  @media (min-width: 1024px) {
    #portfolio {
      width: 100%;
      background-color: white; } }
  #portfolio h2 {
    text-transform: uppercase;
    font-size: 1.35em;
    padding-bottom: 50px; }
  #portfolio h3 {
    font-size: 1.5em;
    padding-top: 30px;
    padding-bottom: 15px; }
  #portfolio div {
    margin-bottom: 50px; }
  #portfolio div p {
    margin: 0 auto;
    width: 93%;
    font-size: 1.07em; }

@media (min-width: 730px) {
  .portfolio-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }
@media (min-width: 1024px) {
  .portfolio-cards {
    margin: 0 auto;
    width: 92%; } }

@media (min-width: 1024px) {
  .portfolio-title {
    padding-top: 25px; } }

@media (min-width: 730px) {
  .card {
    flex-basis: 48%; } }
@media (min-width: 1024px) {
  .card {
    flex-basis: 32%; } }

@media (min-width: 730px) {
  .video {
    margin: 0 auto; } }
@media (min-width: 1024px) {
  .video {
    margin: 0; } }

.skills-list li {
  border-radius: 7px;
  text-align: center;
  padding: 20px 5px;
  background-color: #675a85;
  list-style: none;
  flex-basis: 48%;
  margin-bottom: 10px; }
  @media (min-width: 730px) {
    .skills-list li {
      flex-basis: 32%; } }
  @media (min-width: 1024px) {
    .skills-list li {
      flex-basis: 23%; } }

.back-to-top {
  float: right;
  padding: 30px 0 30px 0; }

footer {
  margin-top: 25px;
  text-align: center;
  background-color: #fafafa; }
  footer h2 {
    padding-top: 63px;
    padding-bottom: 40px;
    font-size: 1.15em;
    text-transform: uppercase; }

.small-footer-nav {
  width: 90%;
  margin: 0 auto;
  font-weight: 700; }
  @media (min-width: 730px) {
    .small-footer-nav {
      display: none; } }

.footer-name {
  float: left;
  padding: 30px 0 30px 0; }

.large-footer-nav {
  display: none; }
  @media (min-width: 730px) {
    .large-footer-nav {
      width: 90%;
      display: flex;
      margin: 0 auto;
      padding-bottom: 50px;
      padding-top: 25px;
      justify-content: space-between;
      font-weight: 700; } }
  @media (min-width: 730px) {
    .large-footer-nav li {
      list-style: none; } }
  @media (min-width: 730px) {
    .large-footer-nav li:nth-child(n+2) {
      text-transform: uppercase;
      margin-left: 20px; } }

@media (min-width: 730px) {
  .large-footer-name {
    margin-right: auto; } }

.contact {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #e7e7e7;
  font-size: 1.15em;
  padding-bottom: 20px; }
  .contact p {
    margin-bottom: 35px; }

.profile-img {
  margin: 0 auto;
  width: 62.5%;
  background-color: #2472aa; }
  @media (min-width: 730px) {
    .profile-img {
      width: 39%;
      float: right; } }

#portfolio img {
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
