#skills {
	background-color: #ededed;
	padding-bottom: 50px;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 20px auto 0 auto;
	justify-content: space-between;
}

.section-header {
	padding-top: 50px;
	text-align: center;
	text-transform: uppercase;
}

#portfolio {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;

	@include desktop {
		width: 100%;
		background-color: white;
	}

	h2 {
		text-transform: uppercase;
		font-size: 1.35em;
		padding-bottom: 50px;
	}

	h3 {
		font-size: 1.5em;
		padding-top: 30px;
		padding-bottom: 15px;
	}

	div {
		margin-bottom: 50px;
	}

	div p {
		margin: 0 auto;
		width: 93%;
		font-size: 1.07em;
	}
}



.portfolio-cards {
	@include tablet {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@include desktop {
		margin: 0 auto;
		width: 92%;
	}

}

.portfolio-title {
	@include desktop {
		padding-top: 25px;
	}
}

.card {
	@include tablet {
		flex-basis: 48%;
	}

	@include desktop {
		flex-basis: 32%;
	}
}

.video {
	@include tablet {
		margin: 0 auto;
	}

	@include desktop {
		margin: 0;
	}
}


.skills-list li {
	border-radius: 7px;

	text-align: center;
	padding: 20px 5px;
	background-color: #675a85;
	list-style: none;
	flex-basis: 48%;
	margin-bottom: 10px;

	@include tablet {
		flex-basis: 32%;
	}

	@include desktop {
		flex-basis: 23%;
	}
}



.back-to-top {
	float: right;
	padding: 30px 0 30px 0;
}