body {
	font-family: #{$asap-font};
}

a {
	color: black;
	text-decoration: none;
	&:hover {
		@include desktop {
			color: #{$hover-blue};
		}
	}
	&:visited {
		@include desktop {
			color: black;
		}
	}
}

.skills-list li {
	font-size: #{$skills-size};
	color: white;
	font-weight: 700;
}