* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Asap', 'Helvetica', sans-serif;
	margin: 0;
	}

a {
	color: black;
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}