// Media query breakpoints

$brk-narrow : '(min-width: 730px)';
$brk-wide   : '(min-width: 1024px)';

// Font declarations

$asap-font  : "'Asap', 'Helvetica', sans-serif";

// Font Colors

$hover-blue          : '#36acd0';
$desktop-body-color  : '#fafafa';

// Font Size

$skills-size     : '1.5em';
